body{
    div.titleButton{
        display: flex;
        align-items: center;
        justify-content: center;
        
        div.listTitle{
            font-size: 3rem;
            color:rgb(4, 187, 4);
            flex-direction: row;
            // margin: 0 auto;
        }
        div.button{
            padding-right: 50px;
            position: absolute;
            right: 0%;
            button{
                background-color: #FFB319;
                width: 60px;
                height: 30px;
                // font-size: 16px;
                border-radius: 10px;
            }
        }

    }
    div.table{
        padding: 0 50px;
        table.table{
            border-color: black;
            thead{
                tr{
                    background-color: rgb(131, 230, 252);;
                    th{
                        border-width: 1px;
                        padding: 5px;
                        font-size: 20px;
                    }
                }
            }
            tbody{
                tr:hover {
                    background-color: rgb(255, 220, 155) !important;
                  }
                td:hover {
                    background-color: orange !important;
                }
                tr{
                    td{
                        border-width: 1px;
                        padding: 5px;
                        button{
                            background-color: #FFB319;
                            border-radius: 10px;

                        }                
                    }
                }
                tr:nth-child(2n){
                    background-color: rgb(0, 223, 138);
                }
                tr:nth-child(2n-1){
                    background-color: rgb(5, 167, 51);
                }    
            }
        }
    }
    div.banner{
        background-image:url(./banner13-pc.svg);
        height: 35rem;
        background-repeat: no-repeat;
        background-position:center ;
    }

}